<div class="flex space-x-10 lg:space-x-14">
    <a href="/" class="text-[15px] font-bold text-white/80 hover:text-white transition relative after:content-[''] after:absolute after:w-0 after:h-0.5 after:bg-indigo-400 after:left-0 after:-bottom-1 hover:after:w-full after:transition-all">
        Accueil
    </a>
    <a href="#fonctionnalitie" class="text-[15px] font-bold text-white/80 hover:text-white transition relative after:content-[''] after:absolute after:w-0 after:h-0.5 after:bg-indigo-400 after:left-0 after:-bottom-1 hover:after:w-full after:transition-all">
        Fonctionnalités
    </a>
    <a href="#service" class="text-[15px] font-bold text-white/80 hover:text-white transition relative after:content-[''] after:absolute after:w-0 after:h-0.5 after:bg-indigo-400 after:left-0 after:-bottom-1 hover:after:w-full after:transition-all">
        Nos Services
    </a>
</div>